@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(0, 0, 0);
  
  color: rgb(255, 255, 255);

  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

@font-face {
  font-family: 'CraftsStoryDemoRegular'; /*a name to be used later*/
  src: url('./assets/CraftsStoryDemoRegular.ttf'); /*URL to font*/
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
